.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.90);
  animation: loader 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;

  &_item {
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    animation: jump 1s;
    animation-iteration-count: 1;

    &Container {
      display: flex;
      width: 5rem;
      justify-content: space-between;
    }

    &_1 {
      background-color: $color-primary;
    }

    &_2 {
      background-color: $color-secondary;
      animation-delay: 0.25s;
    }

    &_3 {
      background-color: $color-tertiary;
      animation-delay: 0.5s;
    }
  }
}

.header {
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1000;

  &_logo {
    font-family: "Shrikhand", "cursive";
    margin: 0;
    text-align: center;
  }
}

.localisation {
  display: flex;
  justify-content: center;
  padding: 1.25rem $addPadding;
  background-color: rgb(243, 243, 243);
  font-size: 1.2rem;
  position: relative;

  &_icon {
    margin-right: 1rem;
  }

  &_text {
    font-weight: 700;
  }
}

.hero {
  padding: 2rem;
  text-align: center;
  background-color: rgb(250, 250, 250);

  &_title {
    margin: 0;
  }

  &_subtitle {
    font-weight: 300;
    margin: 1.5rem 0;
  }

  &_btn {
    @include button(primary)
  }
}

.guide {
  padding: ($addPadding + 1rem) $addPadding;

  &_title {
    margin-top: 0;
  }

  &_steps {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: compteList;

    @media (min-width: 64rem) {
      display: flex;
    }
  }

  &_step {
    padding: 1.5rem;
    margin: 1rem 0 1rem 0.75rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    display: flex;
    position: relative;

    @media (min-width: 64rem) {
      flex: 1;
      margin: 0;
      margin-left: 2rem;

      &:first-child {
        margin-top: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      counter-increment: compteList 1;
      content: counter(compteList) " ";
      background: $color-primary;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      position: absolute;
      left: -0.75rem
    }
  }

  &_icon {
    margin-right: 1rem;
    color: #7e7e7e;
  }
}

.restaurants {
  background-color: #f6f6f6;
  padding: ($addPadding + 1rem) $addPadding;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;

  @media (min-width: 64rem) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;

  &_img {
    height: 12rem;
    width: 100%;
    border: transparent solid 0px;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
  }

  &_badge {
    background-color: $color-tertiary;
    color: darken($color-tertiary, 50%);
    padding: 0.5rem;
    border-radius: 0.125rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  &_footer {
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
  }

  &_content {
    flex: 1;
  }

  &_title {
    margin: 0;
    margin-bottom: 0.25rem;
  }

  &_subtitle {
    margin: 0;
  }

  &_btn {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: transparent 0px solid;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_like {
    background-color: white!important;
  }
}



